.logo {
    margin-top: 5px;
    color: currentColor;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    transition-property: color;
    transition: $transition;
    &:focus,
    &:hover {
        color: $accent-color;
    }
    &-footer {
        color: $white-color;
        text-decoration: none;
        font-family: Raleway, sans-serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.03em;
    }
    &-title {
        color: $accent-color;
        transition-property: color;
        transition: $transition;
    }
    &-title:focus,
    &-title:hover {
        color: $title-text-color;
    }
}

.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}